/* Mirrors the change in:
 *   https://github.com/sphinx-doc/sphinx/pull/5976
 * which is not showing up in our theme.
 */
.classifier:before {
    font-style: normal;
    margin: 0.5em;
    content: ":";
}

.highlight:hover span#strike_button {
    color:#767676;
}

span#strike_button {
    color :#d0ced7;
}
