# Copyright (c) 2021, NVIDIA CORPORATION.

flake8==3.8.3
black==19.10b0
isort==5.6.4
dask>=2021.11.1,<=2021.11.2
distributed>=2021.11.1,<=2021.11.2
streamz
python-confluent-kafka
pytest
setuptools
wheel
