---
# Refer to the following link for the explanation of each params:
#   http://releases.llvm.org/8.0.0/tools/clang/docs/ClangFormatStyleOptions.html
Language: Cpp
# BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: false
# This is deprecated
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments:  false
BinPackParameters: false
BraceWrapping:
  AfterClass:            false
  AfterControlStatement: false
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false
  # disabling the below splits, else, they'll just add to the vertical length of source files!
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakAfterJavaFieldAnnotations: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: WebKit
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 100
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# Kept the below 2 to be the same as `IndentWidth` to keep everything uniform
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IncludeBlocks: Regroup
IncludeCategories:
  # Local includes first
  - Regex:           '".*"'
    Priority:        0
  # Internal includes from non-cudf source directories
  - Regex:           '^<benchmarks/'
    Priority:        1
  - Regex:           '^<binaryop/'
    Priority:        2
  - Regex:           '^<groupby/'
    Priority:        2
  - Regex:           '^<hash/'
    Priority:        3
  - Regex:           '^<io/'
    Priority:        3
  - Regex:           '^<jit_preprocessed_files/'
    Priority:        4
  - Regex:           '^<jit/'
    Priority:        5
  - Regex:           '^<join/'
    Priority:        3
  - Regex:           '^<lists/'
    Priority:        3
  - Regex:           '^<quantiles/'
    Priority:        3
  - Regex:           '^<reductions/'
    Priority:        3
  - Regex:           '^<rolling/'
    Priority:        3
  - Regex:           '^<sort/'
    Priority:        3
  - Regex:           '^<src/'
    Priority:        3
  - Regex:           '^<strings/'
    Priority:        3
  - Regex:           '^<tests/'
    Priority:        6
  - Regex:           '^<text/'
    Priority:        6
  # cudf_test, cudf, nvtext are "proper" packages
  - Regex:           '^<cudf_test/'
    Priority:        7
  - Regex:           '^<cudf/'
    Priority:        8
  - Regex:           '^<nvtext/'
    Priority:        9
  # Google Benchmark and NVBench
  - Regex:           '^<benchmark/'
    Priority:        10
  - Regex:           '^<nvbench/'
    Priority:        11
  # gmock and gtest
  - Regex:           '^<gmock/'
    Priority:        12
  - Regex:           '^<gtest/'
    Priority:        13
  # External dependencies (rmm, cub/thrust, cuco, arrow, ...)
  - Regex:           '^<rmm/'
    Priority:        12
  - Regex:           '^<kvikio/'
    Priority:        12
  - Regex:           '^<cub/'
    Priority:        13
  - Regex:           '^<cuco/'
    Priority:        14
  - Regex:           '^<thrust/'
    Priority:        15
  - Regex:           '^<arrow/'
    Priority:        16
  - Regex:           '^<dlpack/'
    Priority:        17
  - Regex:           '^<jitify2.hpp>'
    Priority:        20
  - Regex:           '^<librdkafka/'
    Priority:        18
  - Regex:           '^<nvcomp'
    Priority:        18
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        19
  - Regex:           '^<zlib.h>'
    Priority:        20
  # CUDA Toolkit and related libraries
  - Regex:           '^<cuda[[:alnum:]_]+.h>'
    Priority:        21
  - Regex:           '^<cooperative_groups'
    Priority:        22
  - Regex:           '^<(nvtx3/.*|nvToolsExt.h)>'
    Priority:        23
  # CUDA math libraries (cuBLAS, cuRAND, ...)
  - Regex:           '<cu[[:alnum:]_]+.h>'
    Priority:        25
    SortPriority:    24
  # libcu++ and C/C++ STL includes
  - Regex:           '^<cuda/'
    Priority:        24
    SortPriority:    25
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        26
  - Regex:           '<sys/'
    Priority:        26
  - Regex:           '<unicode/'
    Priority:        26
  # Anything not listed above goes last
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth:     2
IndentWrappedFunctionNames: false
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
  - Language: TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
    CanonicalDelimiter: ''
    BasedOnStyle: google
# Enabling comment reflow causes doxygen comments to be messed up in their formats!
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++17
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
# Be consistent with indent-width, even for people who use tab for indentation!
TabWidth: 2
UseTab: Never
