[submodule "cpp/thirdparty/cub"]
	path = cpp/thirdparty/cub
	url = https://github.com/NVlabs/cub.git
[submodule "cpp/thirdparty/moderngpu"]
	path = cpp/thirdparty/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
