## Common
__pycache__
*.pyc
*.a
*.o
*.so
*.dylib
.cache
.coverage
.vscode
*.swp
*.pytest_cache
DartConfiguration.tcl
.DS_Store

## Python build directories & artifacts
htmlcov
dist/
cudf.egg-info/
python/build
python/cudf/bindings/*.cpp

## Patching
*.diff
*.orig
*.rej

## C++ build directories & artifacts
CMakeFiles/
Debug
build/
cpp/build/
cpp/include/cudf/ipc_generated/*.h
cpp/thirdparty/googletest/
cpp/python/libgdf_cffi/libgdf_cffi.py
cpp/python/librmm_cffi/librmm_cffi.py

## Eclipse IDE
.project
.cproject
.settings
