[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = https://github.com/rapidsai/thirdparty-cub.git
	branch = cudf-cub
[submodule "thirdparty/jitify"]
	path = thirdparty/jitify
	url = https://github.com/rapidsai/jitify.git
	branch = feature/api_v2_v0.10
