## Common
__pycache__
*.py[cod]
*$py.class
*.a
*.o
*.so
*.dylib
.cache
.vscode
*.swp
*.pytest_cache
DartConfiguration.tcl
.DS_Store
*.manifest
*.spec

## Python build directories & artifacts
dist/
cudf.egg-info/
python/build
python/*/build
python/cudf/*/_lib/**/*.cpp
python/cudf/*/_lib/**/*.h
python/cudf/*/_lib/.nfs*
python/cudf/*/_libxx/**/*.cpp
python/cudf/*/_libxx/**/*.h
python/cudf/*/_libxx/.nfs*
python/cudf/*.ipynb
python/cudf/.ipynb_checkpoints
python/*/record.txt
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

## Patching
*.diff
*.orig
*.rej

## C++ build directories & artifacts
CMakeFiles/
Debug
build/
cpp/build/
cpp/include/cudf/ipc_generated/*.h
cpp/thirdparty/googletest/

## Eclipse IDE
.project
.cproject
.settings

## IntelliJ IDE
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Doxygen
cpp/doxygen/html

#Java
target

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
