repos:
      - repo: https://github.com/PyCQA/isort
        rev: 5.9.3
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/psf/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://github.com/PyCQA/flake8
        rev: 4.0.1
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: https://github.com/PyCQA/pydocstyle
        rev: 6.1.1
        hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]
      - repo: https://github.com/pre-commit/mirrors-mypy
        rev: 'v0.910-1'
        hooks:
              - id: mypy
                args: ["--config-file=python/cudf/setup.cfg", "python/cudf/cudf"]
                pass_filenames: false
                additional_dependencies:
                  - types-cachetools
      - repo: local
        hooks:
              - id: clang-format
                # Using the pre-commit stage to simplify invocation of all
                # other hooks simultaneously (via any other hook stage).  This
                # can be removed if we also move to running clang-format
                # entirely through pre-commit.
                stages: [commit]
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']

default_language_version:
      python: python3
