# SPDX-FileCopyrightText: Copyright (c) 2019-2025, NVIDIA CORPORATION.
# SPDX-License-Identifier: Apache-2.0

ci:
  autofix_commit_msg: "[pre-commit.ci] auto code formatting"
  autofix_prs: false
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: quarterly
  skip: ["mypy", "verify-alpha-spec"]
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            ^cpp/cmake/thirdparty/patches/.*|
            ^python/cudf/cudf/tests/data/vocab.txt
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            ^cpp/cmake/thirdparty/patches/.*|
            ^python/cudf/cudf/tests/data/vocab.txt
          )
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.17.0
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
      - id: mypy
        additional_dependencies: [numpy, polars, pyarrow-stubs, pytest, types-cachetools]
        args: ["--config-file=pyproject.toml",
               "python/cudf/cudf",
               "python/pylibcudf/pylibcudf",
               "python/custreamz/custreamz",
               "python/cudf_kafka/cudf_kafka",
               "python/cudf_polars/cudf_polars",
               "python/cudf_polars/tests",
               "python/dask_cudf/dask_cudf"]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.4
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
        exclude: |
          (?x)^(
            ^cpp/src/io/parquet/ipc/Schema_generated.h|
            ^cpp/src/io/parquet/ipc/Message_generated.h|
            ^cpp/include/cudf_test/cxxopts.hpp
          )
  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
        exclude: |
          (?x)^(
            ^cpp/src/io/parquet/ipc/Schema_generated.h|
            ^cpp/src/io/parquet/ipc/Message_generated.h|
            ^cpp/include/cudf_test/cxxopts.hpp|
            ^python/cudf/cudf/tests/data/text/vocab.txt|
            ^python/cudf/cudf/tests/text/test_text_methods.py
          )
  - repo: local
    hooks:
      - id: no-deprecationwarning
        name: no-deprecationwarning
        description: 'Enforce that DeprecationWarning is not introduced (use FutureWarning instead)'
        entry: '(category=|\s)DeprecationWarning[,)]'
        language: pygrep
        types_or: [python, cython]
        # We need to exclude just the following file because few APIs still need
        # DeprecationWarning: https://github.com/pandas-dev/pandas/issues/54970
        exclude: |
          (?x)^(
            ^python/cudf/cudf/core/dtypes.py|
            ^python/cudf/cudf/tests/pytest.ini
          )
      - id: no-programmatic-xfail
        name: no-programmatic-xfail
        description: 'Enforce that pytest.xfail is not introduced (see dev docs for details)'
        entry: 'pytest\.xfail'
        language: pygrep
        types: [python]
      - id: no-unseeded-default-rng
        name: no-unseeded-default-rng
        description: 'Enforce that no non-seeded default_rng is used and default_rng is used instead of np.random.seed'
        entry: |
          # Check for usage of default_rng without seeding
          default_rng\(\)|
          # Check for usage of np.random.seed (NPY002 only disallows this being called)
          np.random.seed
        language: pygrep
        types: [python]
      - id: cmake-format
        name: cmake-format
        entry: ./cpp/scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
      - id: cmake-lint
        name: cmake-lint
        entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
      - id: doxygen-check
        name: doxygen-check
        entry: ./ci/checks/doxygen.sh
        files: ^cpp/include/
        types_or: [file]
        language: system
        pass_filenames: false
        verbose: true
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]
        exclude: |
          (?x)^(
            .*test.*|
            ^CHANGELOG.md$
          )
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: verify-copyright
        name: verify-copyright-cudf
        args: [--fix, --spdx]
        files: |
          (?x)
            [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx|pyi|rs|java|bat)$|
            CMakeLists[.]txt$|
            CMakeLists_standalone[.]txt$|
            meta[.]yaml$|
            pyproject[.]toml$|
            setup[.]cfg$|
            ^cpp/src/text/detail/codepoint_metadata[.]ah$|
            ^cpp/src/strings/regex/regex[.]inl$|
            ^cpp/src/io/parquet/ipc/schema/.*[.]fbs$|
            ^java/pom[.]xml$|
            ^java/buildscripts/build-info$|
            ^java/ci/Dockerfile[.]rocky$|
            recipe[.]yaml$|
            dependencies[.]yaml$|
            pytest[.]ini$|
            ^[.]pre-commit-config[.]yaml$|
            Makefile$
        exclude: |
          (?x)^(
            cpp/include/cudf_test/cxxopts[.]hpp$|
            cpp/src/io/parquet/ipc/Message_generated[.]h$|
            cpp/src/io/parquet/ipc/Schema_generated[.]h$|
            cpp/src/io/comp/brotli_dict[.]cpp$|
            cpp/src/io/comp/brotli_dict[.]hpp$|
            cpp/src/io/comp/brotli_tables[.]hpp$|
            cpp/src/io/comp/debrotli[.]cu$|
            cpp/src/io/comp/cpu_unbz2[.]cpp$|
            cpp/src/io/comp/unbz2[.]hpp$|
            cpp/src/io/comp/gpuinflate[.]cu$|
            cpp/src/io/utilities/base64_utilities[.]cpp$|
            cpp/src/io/utilities/base64_utilities[.]hpp$
          )
      - id: verify-copyright
        name: verify-copyright-brotli
        args: [--fix, --spdx, "--spdx-license-identifier=Apache-2.0 AND MIT"]
        files: |
          (?x)^(
            cpp/src/io/comp/brotli_dict[.]cpp$|
            cpp/src/io/comp/brotli_dict[.]hpp$|
            cpp/src/io/comp/brotli_tables[.]hpp$|
            cpp/src/io/comp/debrotli[.]cu$
          )
      - id: verify-copyright
        name: verify-copyright-bzip2
        args: [--fix, --spdx, "--spdx-license-identifier=Apache-2.0 AND bzip2-1.0.6"]
        files: |
          (?x)^(
            cpp/src/io/comp/cpu_unbz2[.]cpp$|
            cpp/src/io/comp/unbz2[.]hpp$
          )
      - id: verify-copyright
        name: verify-copyright-zlib
        args: [--fix, --spdx, "--spdx-license-identifier=Apache-2.0 AND Zlib"]
        files: |
          (?x)^(
            cpp/src/io/comp/gpuinflate[.]cu$|
            cpp/src/io/utilities/base64_utilities[.]cpp$|
            cpp/src/io/utilities/base64_utilities[.]hpp$
          )
      - id: verify-copyright
        name: verify-copyright-cxxopts
        args: [--fix, --spdx, "--spdx-license-identifier=MIT"]
        files: |
          (?x)^(
            cpp/include/cudf_test/cxxopts[.]hpp$
          )
      - id: verify-alpha-spec
      - id: verify-codeowners
        args: [--fix, --project-prefix=cudf]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]

default_language_version:
      python: python3
