# Copyright (c) 2019-2022, NVIDIA CORPORATION.

repos:
      - repo: https://github.com/PyCQA/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/psf/black
        rev: 22.3.0
        hooks:
              - id: black
                files: python/.*
      - repo: https://github.com/PyCQA/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: https://github.com/pre-commit/mirrors-mypy
        rev: 'v0.782'
        hooks:
              - id: mypy
                args: ["--config-file=python/cudf/setup.cfg", "python/cudf/cudf"]
                pass_filenames: false
      - repo: https://github.com/PyCQA/pydocstyle
        rev: 6.1.1
        hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]
                exclude: |
                    (?x)^(
                    ci|
                    cpp|
                    conda|
                    docs|
                    java|
                    notebooks
                    )
      - repo: https://github.com/pre-commit/mirrors-clang-format
        rev: v11.1.0
        hooks:
              - id: clang-format
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                types_or: [file]
                args: ['-fallback-style=none', '-style=file', '-i']
      - repo: local
        hooks:
              - id: no-deprecationwarning
                name: no-deprecationwarning
                description: 'Enforce that DeprecationWarning is not introduced (use FutureWarning instead)'
                entry: '(category=|\s)DeprecationWarning[,)]'
                language: pygrep
                types_or: [python, cython]
              - id: cmake-format
                name: cmake-format
                entry: ./cpp/scripts/run-cmake-format.sh cmake-format
                language: python
                types: [cmake]
                # Note that pre-commit autoupdate does not update the versions
                # of dependencies, so we'll have to update this manually.
                additional_dependencies:
                  - cmakelang==0.6.13
              - id: cmake-lint
                name: cmake-lint
                entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
                language: python
                types: [cmake]
                # Note that pre-commit autoupdate does not update the versions
                # of dependencies, so we'll have to update this manually.
                additional_dependencies:
                  - cmakelang==0.6.13
              - id: copyright-check
                name: copyright-check
                # This hook's use of Git tools appears to conflict with
                # existing CI invocations so we don't invoke it during CI runs.
                stages: [commit]
                entry: python ./ci/checks/copyright.py --git-modified-only
                language: python
              - id: doxygen-check
                name: doxygen-check
                entry: ./ci/checks/doxygen.sh
                files: ^cpp/include/
                types_or: [file]
                language: system
                pass_filenames: false
                verbose: true

default_language_version:
      python: python3
