# Copyright (c) 2019-2024, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            ^cpp/cmake/thirdparty/patches/.*|
            ^python/cudf/cudf/tests/data/subword_tokenizer_data/.*
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            ^cpp/cmake/thirdparty/patches/.*|
            ^python/cudf/cudf/tests/data/subword_tokenizer_data/.*
          )
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
      - id: mypy
        additional_dependencies: [types-cachetools]
        args: ["--config-file=pyproject.toml",
               "python/cudf/cudf",
               "python/custreamz/custreamz",
               "python/cudf_kafka/cudf_kafka",
               "python/cudf_polars/cudf_polars",
               "python/dask_cudf/dask_cudf"]
        pass_filenames: false
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-isort
        # Use the cudf_kafka isort orderings in notebooks so that dask
        # and RAPIDS packages have their own sections.
        args: ["--settings-file=python/cudf_kafka/pyproject.toml"]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
        exclude: |
          (?x)^(
            ^cpp/src/io/parquet/ipc/Schema_generated.h|
            ^cpp/src/io/parquet/ipc/Message_generated.h|
            ^cpp/include/cudf_test/cxxopts.hpp
          )
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.7
    hooks:
      - id: fix-smartquotes
        exclude: |
          (?x)^(
            ^cpp/src/io/parquet/ipc/Schema_generated.h|
            ^cpp/src/io/parquet/ipc/Message_generated.h|
            ^cpp/include/cudf_test/cxxopts.hpp|
            ^python/cudf/cudf/tests/data/subword_tokenizer_data/.*|
            ^python/cudf/cudf/tests/text/test_text_methods.py
          )
  - repo: local
    hooks:
      - id: no-deprecationwarning
        name: no-deprecationwarning
        description: 'Enforce that DeprecationWarning is not introduced (use FutureWarning instead)'
        entry: '(category=|\s)DeprecationWarning[,)]'
        language: pygrep
        types_or: [python, cython]
        # We need to exclude just the following file because few APIs still need
        # DeprecationWarning: https://github.com/pandas-dev/pandas/issues/54970
        exclude: |
          (?x)^(
            ^python/cudf/cudf/core/dtypes.py|
            ^python/cudf/cudf/tests/pytest.ini
          )
      - id: no-programmatic-xfail
        name: no-programmatic-xfail
        description: 'Enforce that pytest.xfail is not introduced (see dev docs for details)'
        entry: 'pytest\.xfail'
        language: pygrep
        types: [python]
      - id: no-unseeded-default-rng
        name: no-unseeded-default-rng
        description: 'Enforce that no non-seeded default_rng is used and default_rng is used instead of np.random.seed'
        entry: |
          # Check for usage of default_rng without seeding
          default_rng\(\)|
          # Check for usage of np.random.seed (NPY002 only disallows this being called)
          np.random.seed
        language: pygrep
        types: [python]
      - id: cmake-format
        name: cmake-format
        entry: ./cpp/scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
      - id: cmake-lint
        name: cmake-lint
        entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
      - id: doxygen-check
        name: doxygen-check
        entry: ./ci/checks/doxygen.sh
        files: ^cpp/include/
        types_or: [file]
        language: system
        pass_filenames: false
        verbose: true
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]
        exclude: |
          (?x)^(
            .*test.*|
            ^CHANGELOG.md$
          )
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: ["--fix"]
        files: python/.*$
      - id: ruff-format
        files: python/.*$
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
      - id: verify-copyright
        exclude: |
          (?x)^(
            cpp/include/cudf_test/cxxopts[.]hpp$|
            cpp/src/io/parquet/ipc/Message_generated[.]h$|
            cpp/src/io/parquet/ipc/Schema_generated[.]h$|
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
      - id: verify-alpha-spec
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.16.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]

default_language_version:
      python: python3
