# Apply this config conditionally to all C files
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Compiler: /home/yunsongw/dev/rapids/compose/etc/conda/cuda_12.0/envs/rapids/bin/gcc

---

# Apply this config conditionally to all C++ headers
If:
  PathMatch: .*\.(c|h)pp$
CompileFlags:
  Compiler: /home/yunsongw/dev/rapids/compose/etc/conda/cuda_12.0/envs/rapids/bin/g++

---

# Apply this config conditionally to all CUDA headers
If:
  PathMatch: .*\.cuh?$
CompileFlags:
  Compiler: /usr/local/cuda/bin/nvcc

---

# Tweak the clangd parse settings for all files
CompileFlags:
  Add:
    # report all errors
    - "-ferror-limit=0"
  Remove:
    # strip CUDA fatbin args
    - "-Xfatbin*"
    # strip CUDA arch flags
    - "-arch*"
    - "-gencode*"
    - "--generate-code*"
    # strip CUDA flags unknown to clang
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"
Hover:
  ShowAKA: No
InlayHints:
  Enabled: No
Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"
    - "-Wdeprecated-declarations"
