c_compiler_version:
  - 11

cxx_compiler_version:
  - 11

cuda_compiler:
  - nvcc

sysroot_version:
  - "2.17"

cmake_version:
  - ">=3.23.1,!=3.25.0"

gtest_version:
  - "=1.10.0"

libarrow_version:
  - "=11"

dlpack_version:
  - ">=0.5,<0.6.0a0"

librdkafka_version:
  - ">=1.9.0,<1.10.0a0"

fmt_version:
  - ">=9.1.0,<10"

spdlog_version:
  - ">=1.11.0,<1.12"
