c_compiler_version:
  - 9

cxx_compiler_version:
  - 9

cuda_compiler:
  - nvcc

sysroot_version:
  - "2.17"

cmake_version:
  - ">=3.20.1,!=3.23.0"

gtest_version:
  - "=1.10.0"

arrow_cpp_version:
  - "=8.0.0"

dlpack_version:
  - ">=0.5,<0.6.0a0"

librdkafka_version:
  - ">=1.7.0,<1.8.0a0"
