c_compiler_version:
  - 9

cxx_compiler_version:
  - 9

cuda_compiler:
  - nvcc

sysroot_version:
  - "2.17"

cmake_version:
  - ">=3.23.1,!=3.25.0"

gtest_version:
  - "=1.10.0"

libarrow_version:
  - "=10"

dlpack_version:
  - ">=0.5,<0.6.0a0"

librdkafka_version:
  - ">=1.7.0,<1.8.0a0"
