c_compiler_version:
  - 14

cxx_compiler_version:
  - 14

cuda_compiler:
  - cuda-nvcc

c_stdlib:
  - sysroot

c_stdlib_version:
  - "2.28"

cmake_version:
  - ">=3.30.4"

dlpack_version:
  - ">=0.8,<1.0"

librdkafka_version:
  - ">=2.8.0,<2.9.0a0"

flatbuffers_version:
  - "=24.3.25"

nvcomp_version:
  - "=4.2.0.11"

zlib_version:
  - ">=1.2.13"
