# Cython files
recursive-include cudf *.pxd
recursive-include cudf *.pyx

# Typing files
recursive-include cudf *.pyi

# C++ files
recursive-include cudf *.hpp
recursive-include udf_cpp *.hpp
recursive-include udf_cpp *.cuh

# Build files. Don't use a recursive include on '.' in case the repo is dirty
include . CMakeLists.txt
recursive-include cudf CMakeLists.txt
recursive-include cmake *
