clang==8.0.1
cupy-cuda102
cmake
wheel==0.34.2
cmake-setuptools
numpy
pandas
fastavro
notebook
cython
fsspec
pytest
pytest-benchmark
pytest-xdist
sphinx
sphinx_rtd_theme
sphinxcontrib-websupport
nbsphinx
numpydoc
ipython
recommonmark
pandoc
partd
flake8==3.8.3
black
isort==5.0.7
mypy==0.782
typing_extensions
pre_commit
dask
distributed
streamz
dlpack
rapidjson
flatbuffers
hypothesis
sphinx-markdown-tables
sphinx-copybutton
mimesis
packaging
protobuf
nvtx
cachetools
numba