# Copyright (c) 2020-2022, NVIDIA CORPORATION.

[flake8]
exclude = __init__.py
ignore =
    # line break before binary operator
    W503,
    # whitespace before :
    E203

[pydocstyle]
# Due to https://github.com/PyCQA/pydocstyle/issues/363, we must exclude rather
# than include using match-dir. Note that as discussed in
# https://stackoverflow.com/questions/65478393/how-to-filter-directories-using-the-match-dir-flag-for-pydocstyle,
# unlike the match option above this match-dir will have no effect when
# pydocstyle is invoked from pre-commit. Therefore this exclusion list must
# also be maintained in the pre-commit config file.
match-dir = ^(?!(ci|cpp|conda|docs|java|notebooks)).*$
# Allow missing docstrings for docutils
ignore-decorators = .*(docutils|doc_apply|copy_docstring).*
select = 
    D30
