# Copyright (c) 2020-2021, NVIDIA CORPORATION.

[flake8]
exclude = __init__.py
ignore =
    # line break before binary operator
    W503,
    # whitespace before :
    E203

[pydocstyle]
match = ^(.*abc\.py|.*api/types\.py|.*single_column_frame\.py|.*indexed_frame\.py)$
# Due to https://github.com/PyCQA/pydocstyle/issues/363, we must exclude rather than include using match-dir.
match-dir = ^(?!ci|cpp|python/dask_cudf|python/cudf_kafka|python/custreamz).*$
# In addition to numpy style, we additionally ignore:
add-ignore =
    # magic methods
    D105,
    # no docstring in __init__
    D107,
    # newlines before docstrings
    D204
