# Copyright (c) 2021, NVIDIA CORPORATION.

# pyarrow gpu package will have to be built from source :
# https://arrow.apache.org/docs/python/install.html#installing-from-source

cupy-cuda112
cachetools
cmake
cmake-setuptools>=0.1.3
cython>=0.29,<0.30
dlpack
fastavro>=0.22.9
fsspec>=0.6.0
hypothesis
mimesis
mypy==0.782
nbsphinx
numba>=0.53.1
numpy
numpydoc
nvtx>=0.2.1
packaging
pandas>=1.0,<1.3.0dev0
pandoc==2.0a4
protobuf
pyorc
pytest
pytest-benchmark
pytest-xdist
rapidjson
recommonmark
setuptools
sphinx
sphinx-copybutton
sphinx-markdown-tables
sphinx_rtd_theme
sphinxcontrib-websupport
transformers
typing_extensions
wheel
