name: build

on:
  push:
    branches:
      - "main"
    tags:
      - v[0-9][0-9].[0-9][0-9].[0-9][0-9]
  workflow_dispatch:
    inputs:
      branch:
        description: |
          branch: git branch the workflow run targets.
          Required even when 'sha' is provided because it is also used for organizing artifacts.
        required: true
        type: string
      date:
        description: "date: Date (YYYY-MM-DD) this run is for. Used to organize artifacts produced by nightly builds"
        required: true
        type: string
      sha:
        description: "sha: full git commit SHA to check out"
        required: true
        type: string
      build_type:
        description: "build_type: one of [branch, nightly, pull-request]"
        type: string
        default: nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      OTEL_SERVICE_NAME: "build-cudf"
    steps:
      - name: Telemetry setup
        # This gate is here and not at the job level because we need the job to not be skipped,
        # since other jobs depend on it.
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  cpp-build:
    needs: [telemetry-setup]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu16
      script: ci/build_cpp.sh
      sha: ${{ inputs.sha }}
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  python-build:
    needs: [telemetry-setup, cpp-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      script: ci/build_python.sh
      sha: ${{ inputs.sha }}
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  python-build-noarch:
    needs: [telemetry-setup, cpp-build, python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      script: ci/build_python_noarch.sh
      sha: ${{ inputs.sha }}
      pure-conda: cuda_major
  upload-conda:
    needs: [cpp-build, python-build, python-build-noarch]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-upload-packages.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
  docs-build:
    if: github.ref_type == 'branch'
    needs: [python-build, python-build-noarch]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      arch: "amd64"
      branch: ${{ inputs.branch }}
      build_type: ${{ inputs.build_type || 'branch' }}
      container_image: "rapidsai/ci-conda:26.02-latest"
      date: ${{ inputs.date }}
      node_type: "gpu-l4-latest-1"
      script: "ci/build_docs.sh"
      sha: ${{ inputs.sha }}
  wheel-build-libcudf:
    needs: [telemetry-setup]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # build for every combination of arch and CUDA version, but only for the latest Python
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu16
      script: ci/build_wheel_libcudf.sh
      package-name: libcudf
      package-type: cpp
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-publish-libcudf:
    needs: wheel-build-libcudf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: libcudf
      package-type: cpp
  wheel-build-pylibcudf:
    needs: [telemetry-setup, wheel-build-libcudf]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_wheel_pylibcudf.sh
      package-name: pylibcudf
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-publish-pylibcudf:
    needs: wheel-build-pylibcudf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: pylibcudf
      package-type: python
  wheel-build-cudf:
    needs: [telemetry-setup, wheel-build-pylibcudf]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_wheel_cudf.sh
      package-name: cudf
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-publish-cudf:
    needs: wheel-build-cudf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: cudf
      package-type: python
  wheel-build-dask-cudf:
    needs: [telemetry-setup, wheel-build-cudf]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # This selects "ARCH=amd64 + the latest supported Python + CUDA".
      matrix_filter: map(select(.ARCH == "amd64")) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_wheel_dask_cudf.sh
      package-name: dask_cudf
      package-type: python
      pure-wheel: true
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-publish-dask-cudf:
    needs: wheel-build-dask-cudf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: dask_cudf
      package-type: python
  wheel-build-cudf-polars:
    needs: [telemetry-setup, wheel-build-pylibcudf]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      # This selects "ARCH=amd64 + the latest supported Python + CUDA".
      matrix_filter: map(select(.ARCH == "amd64")) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_wheel_cudf_polars.sh
      package-name: cudf_polars
      package-type: python
      pure-wheel: true
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  wheel-publish-cudf-polars:
    needs: wheel-build-cudf-polars
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: cudf_polars
      package-type: python
  trigger-pandas-tests:
    if: inputs.build_type == 'nightly'
    needs: wheel-build-cudf
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.sha }}
          persist-credentials: false
      - name: Trigger pandas-tests
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run pandas-tests.yaml \
            -f branch=${{ inputs.branch }} \
            -f sha=${{ inputs.sha }} \
            -f date=${{ inputs.date }}
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs:
      - docs-build
      - upload-conda
      - wheel-publish-cudf
      - wheel-publish-cudf-polars
      - wheel-publish-dask-cudf
      - wheel-publish-libcudf
      - wheel-publish-pylibcudf
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
