name: Pandas Test Job

on:
  workflow_dispatch:
    inputs:
      branch:
        description: |
          Git branch the workflow run targets.
          Required even when 'sha' is provided because it is also used for organizing artifacts.
        required: true
        type: string
      date:
        description: "Date (YYYY-MM-DD) this run is for. Used to organize artifacts produced by nightly builds"
        required: true
        type: string
      sha:
        description: "Full git commit SHA to check out"
        required: true
        type: string

jobs:
  pandas-tests:
      # run the Pandas unit tests
      secrets: inherit
      uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@cuda13.0
      with:
        matrix_filter: '[{"ARCH": "amd64", "PY_VER": "3.13", "CUDA_VER": "13.0.0", "LINUX_VER": "ubuntu24.04", "GPU": "l4", "DRIVER": "latest", "DEPENDENCIES": "newest"}]'
        build_type: nightly
        branch: ${{ inputs.branch }}
        date: ${{ inputs.date }}
        sha: ${{ inputs.sha }}
        script: ci/cudf_pandas_scripts/pandas-tests/run.sh main
