name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Please keep pr-builder as the top job here
  pr-builder:
    needs:
      # - check-nightly-ci
      - changed-files
      - checks
      - conda-cpp-build
      - cpp-linters
      - conda-cpp-checks
      - conda-cpp-tests
      # - conda-python-build
      # - conda-python-build-noarch
      # - conda-python-cudf-tests
      # - conda-python-other-tests
      # - conda-java-tests
      # - conda-notebook-tests
      # - docs-build
      # - wheel-build-libcudf
      # - wheel-build-pylibcudf
      # - wheel-build-cudf
      # - wheel-tests-cudf
      # - wheel-build-cudf-polars
      # - wheel-tests-cudf-polars
      # - cudf-polars-polars-tests
      # - wheel-build-dask-cudf
      # - wheel-tests-dask-cudf
      - devcontainer
      # - unit-tests-cudf-pandas
      # - pandas-tests
      # - narwhals-tests
      # - telemetry-setup
      # - third-party-integration-tests-cudf-pandas
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  changed-files:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        build_docs:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/discover_libcudf_tests.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_*.sh'
          - '!ci/test_*.sh'
          - '!ci/validate_wheel.sh'
          - '!codecov.yml'
        test_cpp:
          - '**'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/build_docs.sh'
          - '!ci/build_python*.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_python*.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
          - '!python/**'
        test_cudf_pandas:
          - '**'
          - '!.clang-format'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/release/update-version.sh'
          - '!ci/test_java.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
        test_java:
          - '**'
          - '!.clang-format'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!ci/release/update-version.sh'
          - '!codecov.yml'
          - '!docs/**'
          - '!img/**'
          - '!notebooks/**'
          - '!python/**'
        test_notebooks:
          - '**'
          - '!.clang-format'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_wheel*.sh'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!codecov.yml'
          - '!java/**'
        test_python_conda:
          - '**'
          - '!.clang-format'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_java.sh'
          - '!ci/test_wheel*.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
        test_python_wheels:
          - '**'
          - '!.clang-format'
          - '!.devcontainer/**'
          - '!.pre-commit-config.yaml'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_cpp.sh'
          - '!ci/build_docs.sh'
          - '!ci/build_python_noarch.sh'
          - '!ci/build_python.sh'
          - '!ci/check-style.sh'
          - '!ci/cudf_pandas_scripts/**'
          - '!ci/release/update-version.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_cpp_common.sh'
          - '!ci/test_cpp_memcheck.sh'
          - '!ci/test_java.sh'
          - '!ci/test_notebooks.sh'
          - '!ci/test_python_common.sh'
          - '!ci/test_python_cudf.sh'
          - '!ci/test_python_other.sh'
          - '!codecov.yml'
          - '!conda/**'
          - '!docs/**'
          - '!img/**'
          - '!java/**'
          - '!notebooks/**'
  checks:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      enable_check_generated_files: false
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu16
      script: ci/build_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  cpp-linters:
    secrets: inherit
    needs: checks
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      script: "ci/cpp_linters.sh"
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  conda-cpp-checks:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-post-build-checks.yaml@main
    with:
      build_type: pull-request
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: ./.github/workflows/conda-cpp-tests.yaml
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
  devcontainer:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      rapids-aux-secret-1: GIST_REPO_READ_ORG_GITHUB_TOKEN
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
        SCCACHE_DIST_AUTH_TOKEN_VAR=RAPIDS_AUX_SECRET_1
      build_command: |
        sccache --zero-stats;
        build-all -j0 -DBUILD_BENCHMARKS=ON --verbose 2>&1 | tee telemetry-artifacts/build.log;
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
