# SPDX-FileCopyrightText: Copyright (c) 2024, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: Set PR and Issue Project Fields

on:
  pull_request_target:
    # This job runs when a PR is first opened, or it is updated
    # Only runs if the PR is open (we don't want to update the status of a closed PR)
    types: [opened, edited, synchronize]

jobs:
    get-project-id:
      uses: rapidsai/shared-workflows/.github/workflows/project-get-item-id.yaml@main
      if: github.event.pull_request.state == 'open'
      secrets: inherit
      permissions:
        contents: read
      with:
        PROJECT_ID: "PVT_kwDOAp2shc4AiNzl"
        ITEM_NODE_ID: "${{ github.event.pull_request.node_id }}"

    update-status:
      # This job sets the PR and its linked issues to "In Progress" status
      uses: rapidsai/shared-workflows/.github/workflows/project-get-set-single-select-field.yaml@main
      if: ${{ github.event.pull_request.state == 'open' && needs.get-project-id.outputs.ITEM_PROJECT_ID != '' }}
      needs: get-project-id
      with:
        PROJECT_ID: "PVT_kwDOAp2shc4AiNzl"
        SINGLE_SELECT_FIELD_ID: "PVTSSF_lADOAp2shc4AiNzlzgaxNac"
        SINGLE_SELECT_FIELD_NAME: "Status"
        SINGLE_SELECT_OPTION_VALUE: "In Progress"
        ITEM_PROJECT_ID: "${{ needs.get-project-id.outputs.ITEM_PROJECT_ID }}"
        ITEM_NODE_ID: "${{ github.event.pull_request.node_id }}"
        UPDATE_ITEM: true
        UPDATE_LINKED_ISSUES: true
      secrets: inherit

    get-release:
      if: ${{ github.event.pull_request.state == 'open' && needs.get-project-id.outputs.ITEM_PROJECT_ID != '' }}
      needs: get-project-id
      runs-on: ubuntu-latest
      outputs:
        release: ${{ steps.get-release.outputs.release }}
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            ref: ${{ github.event.pull_request.base.ref }}
        - name: Extract version from VERSION file
          id: get-release
          run: |
            version=$(cat VERSION)
            release=${version%.*}
            echo "release=$release" >> "$GITHUB_OUTPUT"

    update-release:
      # This job sets the PR and its linked issues to the release they are targeting
      uses: rapidsai/shared-workflows/.github/workflows/project-get-set-single-select-field.yaml@main
      if: ${{ github.event.pull_request.state == 'open' && needs.get-project-id.outputs.ITEM_PROJECT_ID != '' }}
      needs: [get-project-id, get-release]
      with:
        PROJECT_ID: "PVT_kwDOAp2shc4AiNzl"
        SINGLE_SELECT_FIELD_ID: "PVTSSF_lADOAp2shc4AiNzlzgg52UQ"
        SINGLE_SELECT_FIELD_NAME: "Release"
        SINGLE_SELECT_OPTION_VALUE: "${{ needs.get-release.outputs.release }}"
        ITEM_PROJECT_ID: "${{ needs.get-project-id.outputs.ITEM_PROJECT_ID }}"
        ITEM_NODE_ID: "${{ github.event.pull_request.node_id }}"
        UPDATE_ITEM: true
        UPDATE_LINKED_ISSUES: true
      secrets: inherit
