name: cuDF wheels

on:
  push:
    branches:
      - 'pull-request/[0-9]+'

jobs:
  cudf-wheels:
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux.yml@feat/wheel-ci-actions-2
    with:
      package-name: cudf
      package-dir: python/cudf
      python-version: "3.8 3.9"
      python-package-versioneer-override: "22.10.00a"
      python-package-build-tag: "2"

      manylinux-container-amd64: "rapidsai/manylinux2014"
      manylinux-container-arm64: "rapidsai/manylinux_2_31"

      auditwheel-repair-command-amd64: "auditwheel --verbose repair -w {dest_dir} --plat manylinux_2_17_x86_64 {wheel}"
      auditwheel-repair-command-arm64: "auditwheel --verbose repair -w {dest_dir} --plat manylinux_2_31_aarch64 {wheel}"

      cibw-before-all-amd64: "yum update -y && yum install -y protobuf-compiler && tar -xf /opt/_internal/static-libs-for-embedding-only.tar.xz -C /opt/_internal"
      cibw-before-all-arm64: "apt update -y && apt install -y protobuf-compiler && tar -xf /opt/_internal/static-libs-for-embedding-only.tar.xz -C /opt/_internal"
      cibw-environment: "CUDF_BUILD_WHEELS=1 PIP_INDEX_URL=https://pypi.k8s.rapids.ai/simple"

      skbuild-build-options: "-v"
      skbuild-configure-options: "--log-level=DEBUG -DCUDF_BUILD_WHEELS=ON -DDETECT_CONDA_ENV=OFF -DCMAKE_CUDA_ARCHITECTURES=ALL"

      test-container-amd64: "rapidsai/manylinux_2_27" # test cuDF x86_64 on our 18.04 container
      test-container-arm64: "rapidsai/manylinux_2_31" 
      test-extras:  "test"
      test-before-amd64: "pip install requests tokenizers==0.10.2 && pip install rmm-cu11 --index-url https://pypi.k8s.rapids.ai/simple"
      test-before-arm64: "pip install requests tokenizers==0.10.2 && pip install rmm-cu11 --index-url https://pypi.k8s.rapids.ai/simple && pip install cupy-cuda11x -f https://pip.cupy.dev/aarch64"
      test-unittest: "pytest -v ./python/cudf/cudf/tests"
      test-smoketest: "import cudf, requests, numpy; from io import StringIO; url = 'https://github.com/plotly/datasets/raw/master/tips.csv'; content = requests.get(url).content.decode('utf-8'); tips_df = cudf.read_csv(StringIO(content)); tips_df['tip_percentage'] = tips_df['tip'] / tips_df['total_bill'] * 100; mean_tips = tips_df.groupby('size').tip_percentage.mean(); print(mean_tips); print(mean_tips.iloc[0]); assert numpy.isclose(mean_tips.iloc[0], 15.622920); import pyarrow as pa; n_legs = pa.array([2, 4, 5, 100]); animals = pa.array(['Flamingo', 'Horse', 'Brittle stars', 'Centipede']); names = ['n_legs', 'animals']; print(animals); foo = pa.table([n_legs, animals], names=names); print(foo); import cudf; df = cudf.DataFrame.from_arrow(foo); print(df); print(df.loc[df['animals'] == 'Centipede']['n_legs']); assert df.loc[df['animals'] == 'Centipede']['n_legs'].iloc[0] == 100"
    secrets: inherit
      #dask_cudf-wheel:
      #  needs: cudf-wheels
      #  uses: rapidsai/shared-action-workflows/.github/workflows/wheels-pure.yml@feat/wheel-ci-actions-2
      #  with:
      #    package-name: dask_cudf
      #    package-dir: python/dask_cudf
      #    python-package-cuda-suffix: "-cu11"
      #    python-package-versioneer-override: "22.10.00a"
      #    python-package-build-tag: "1"

      #    test-before: "pip install rmm-cu11 cudf-cu11 --index-url https://pypi.k8s.rapids.ai/simple"
      #    test-extras:  "test"
      #    test-unittest: "pytest -v ./python/dask_cudf/dask_cudf/tests"
      #    test-smoketest: "import dask_cudf; print(dask_cudf)"
      #  secrets: inherit
